.info {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 100%;
  padding: 16px 0;
}

.infoTotal {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--main-font-color);
  font-size: 12px;
}
.infoTotal > p {
  font-weight: bold;
}
.deleteAllButton {
  border: none;
  background-color: unset;
  padding: unset;

  color: var(--danger-font-color);
  font-size: 12px;
}
